ion-list{
    ion-item{
        margin-bottom: 1rem;
    }
}

.headerTable{
    font-weight: 700;
    text-align: center;
}

.rowTable, .headerTable{
    border-bottom: solid;
}

.itemCol{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgRow{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.contBtns{
    margin-left: auto;
    
}